pytorch=1.7.0
torchvision=0.8.1
numpy=1.19.2
albumentations==0.4.3
opencv-python==4.5.5.64
pytorch-lightning==1.0.8
omegaconf==2.0.0
test-tube>=0.7.5
streamlit>=0.73.1
einops==0.3.0
more-itertools>=8.0.0
transformers==4.3.1
scikit-image==0.17.2 
face-alignment
yacs==0.1.8
kornia==0.4.0
ninja
fvcore
pytorch3d